[Unit]
Description={{description}}
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/node --title {{name}} {{installdir}}/src/{{name}}-systemd-cli.mjs
ExecReload=/bin/kill -HUP $MAINPID
RestartSec=10
TimeoutStartSec=25
TimeoutStopSec=25
NotifyAccess=all
FileDescriptorStoreMax=5
OOMPolicy=stop
User={{name}}
Group={{name}}
SupplementaryGroups=http
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true
RuntimeDirectory={{name}}
StateDirectory={{name}}
CacheDirectory={{name}}
ConfigurationDirectory={{name}}
PrivateTmp=true
PrivateDevices=true
ProtectClock=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictSUIDSGID=true
CPUWeight=50
IOWeight=50
MemoryAccounting=true
MemoryHigh=150M
MemoryMax=200M
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
