[Unit]
Description=kronos cluster node %H
Requires=network-online.target
After=network-online.target
[Service]
Restart=on-failure
User=kronos
WorkingDirectory=/var/kronos
ExecStart=/srv/kronos/bin/cluster_node --config /srv/kronos/config.json -d kronos:id=%H
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
[Install]
WantedBy=multi-user.target
