[Unit]
Description=kronos cluster node %H-%i
Requires=network-online.target
After=network-online.target
[Service]
Restart=on-failure
RestartSec=5000ms
User=kronos
WorkingDirectory=/var/kronos
ExecStart=/srv/kronos/bin/cluster_node --config /srv/kronos/config.json -d kronos:id=%H-%i -d node_instance=%i
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
[Install]
WantedBy=multi-user.target
