[Unit]
Description={{description}}
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/node --unhandled-rejections=strict --trace-uncaught --trace-warnings --title {{name}} {{install.dir}}src/{{name}}-cli.mjs
ExecReload=/bin/kill -HUP $MAINPID
RestartSec=10
Restart=on-failure
TimeoutStartSec=25
TimeoutStopSec=25
DynamicUser=false
User={{os.user}}
Group={{os.group}}
UMask=0077
SupplementaryGroups=http
LockPersonality=true
SystemCallErrorNumber=EPERM
NoNewPrivileges=true
RuntimeDirectory={{name}}
RuntimeDirectoryMode=775
RuntimeDirectoryPreserve=yes
StateDirectory={{name}}
CacheDirectory={{name}}
ConfigurationDirectory={{name}}
NotifyAccess=all
FileDescriptorStoreMax=5
MemoryAccounting=true
MemoryHigh=150M
MemoryMax=200M
CPUWeight=50
IOWeight=50
OOMPolicy=stop
ProtectHostname=true
PrivateUsers=true
PrivateDevices=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectSystem=full
ProtectProc=noaccess
ProtectClock=true
RestrictSUIDSGID=true
RestrictRealtime=true
CapabilityBoundingSet=~CAP_SYS_BOOT CAP_SYS_ADMIN CAP_NET_ADMIN CAP_SYS_NICE CAP_SYS_RESOURCE CAP_KILLC AP_IPC_LOCK CAP_CHOWN CAP_FSETID CAP_SETFCAP CAP_SETUID CAP_SETGID CAP_SETPCAP CAP_WAKE_ALARM CAP_NET_BIND_SERVICE CAP_NET_BROADCAST CAP_NET_RAW CAP_KILL

[Install]
WantedBy=multi-user.target
